/*
Author: Sanal MG (hedraCoder)
Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Monoton&family=Roboto:wght@300;400&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --retro-red: #F25B21;
    --retro-dark:#422240;
    --retro-blue: #4285B0;
    --retro-dark-blue: #2F638B;
    --retro-yellow: #DDB107;
    --retro-yelow-alt: #C7C011;
    --button-color: #FE474C;
    --bungee-font: 'Bungee Inline', cursive;
    --monoton-font: 'Monoton', cursive;
    --roboto-font: 'Roboto', sans-serif;
    --smooth-transit: all 0.3s ease-in-out;
}
body {
    font-family: var(--roboto-font);
}
.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--retro-red);
}
.header {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem 2rem;
}
.icon-btn {
    font-size: 25px;
    color: #fff;
    transition: var(--smooth-transit);
}
.icon-btn:hover {
    text-decoration: none;
    color: #000;
}
.icon-btn.alt:hover {
    color: var(--retro-red);
}

.collections {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -400px;
    background-color: var(--retro-dark);
    transition: var(--smooth-transit);
    padding: 1.5rem;
    overflow-y: auto;
    z-index: 999;
}
.collections.on {
    right: 0;
}
.collections-items {
    padding: 2rem 0;
}
.collections-heading {
    font-family: var(--bungee-font);
    color: #fff;
    font-size: 20px;
    padding: 0 0 2rem 0;
}
.collections-item {
    color: #fff;
    padding: 1.5rem 0 1.5rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-wrap: wrap;
}
.item-img {
    border-radius: 8px;
    width: 120px;
    height: 120px;
}
.item-details {
    font-family: var(--roboto-font);
    padding: 0.5rem 1rem;
}
.item-title {
    font-weight: 400;
    font-size: 20px;
}
.item-subtitle {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    margin-top: 0.3rem;
}
.load-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--retro-red);
    color: #fff;
    font-family: var(--bungee-font);
    transition: var(--smooth-transit);
    cursor: pointer;
}
.load-btn:hover {
    color: var(--retro-red);
    background-color: #fff;
}
.ribbon {
    text-align: center;
    padding: 2rem 1rem;
}
.ribbon-head {
    font-size: 3rem;
    color: #fff;
    font-family: var(--bungee-font);
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    z-index: 0;
}
.ribbon-head::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 41%;
    left: 0;
    top: 0;
    background-color: var(--retro-yellow);
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ribbon-head::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 59%;
    right: 0;
    top: 0;
    background-color: var(--retro-dark);
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ribbon-head span {
    font-family: var(--monoton-font);
}

.player-wrapper {
    width: 100vw;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.player-case {
    width: 900px;
    min-height: 600px;
    background-color: var(--retro-blue);
    border-radius: 30px;
    border: 20px solid var(--retro-dark-blue);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.case-screw-1,
.case-screw-2,
.case-screw-3,
.case-screw-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D5D2CD;
}
.case-screw-1 {
    top: 20px;
    left: 20px;
}
.case-screw-2 {
    top: 20px;
    right: 20px;
}

.case-screw-3 {
    bottom: 20px;
    right: 20px;
}
.case-screw-4 {
    bottom: 20px;
    left: 20px;
}
.player-mechanism {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}
.disc-slot, .disc, .disc-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.disc-slot {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--retro-dark-blue);
}
.disc {
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background-image: radial-gradient(#744071 0%, #673864 20%, #5d325a 50%, #3A1D38 100%);
    position: relative;
    transition: var(--smooth-transit);
}
.disc::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: repeating-radial-gradient(circle at center,rgba(0,0,0,0.7) 4px,transparent 8px);
}
.disc.playing {
    animation: spin 2s infinite linear;
}
.disc.playing:hover {
    animation-play-state: paused;
}
.disc-inner {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    background-color: #FE474C;
    background-image: url('../assets/images/everybody.png');
    background-size: cover;
    z-index: 2;
}
.disc-hole {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}
.needle-container {
    position: absolute;
    top: 60px;
    right: 30px;
    transition: var(--smooth-transit);
    transform-origin: top left;
    transform: rotate(45deg);
}
.needle-bottom {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8A9CA0;
    position: absolute;
    top: -16px;
    right: -40px;
}
.needle {
    width: 30px;
    height: 220px;
    background: url('../assets/images/needle.svg') no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;  
}
.needle-top {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--retro-dark);
    position: absolute;
    top: 5px;
    right: -22px;
}
.player-controls {
    width: 200px;
    padding: 3.5rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.indicator {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--retro-yelow-alt);
    border: 5px solid var(--retro-dark-blue);
    transition: var(--smooth-transit);
}
.indicator.on {
    background-color: #18E801;
}
.power-btn, .pause-btn {
    display: inline-block;
    padding: 1.2rem 0.8rem;
    background-color: #DFE8EF;
    border: 3px solid var(--retro-dark-blue);
    box-shadow: 3px 4px rgba(0,0,0,0.15);
    border-radius: 6px;
    transition: var(--smooth-transit);
    color: var(--retro-red);
    font-size: 1.2rem;
    cursor: pointer;}

.pause-btn {
    padding: 1.2rem 1rem;   
    color: var(--retro-blue);
}
.power-btn.on, .power-btn:active {
    color: #069961;
    box-shadow: none;
}
.pause-btn.paused, .pause-btn:active {
    color: var(--retro-red);
    box-shadow: none;
}

@media(min-width: 991px) {
    
}




@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Helpers */

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}
.img-rounded {
    border-radius: 8px;
}
.img-cover {
    object-fit: cover;
}
.img-circle {
    border-radius: 50%;
}